/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
/**{
  border: 1px solid black;
}
/*body {
  font-family: "Montserrat", "Lucida Grande", sans-serif;
  color: #111;
  background-color: lightgray;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  width: 100%;
  margin-left: auto;
  margin-right:auto; }
*/

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color: lightgray;
}

html {
  font-size: 16px;

}

.brand{
  font-family: 'Dancing Script';
  font-size: 4rem;
  font-weight: 200;
  padding: 0.7rem 1.4rem 0.7rem 1.4rem;
  height: 30%;
  text-align: center;
  top: 0;
  left: 3rem;


}

li {
  display: inline;
  padding: 0px;
  color: white;
  line-height: 1.25rem;


}

a {
  font-size: 1rem;
  color: white;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 4rem;
  padding-right: 4rem;
  text-decoration: none;
  line-height: 1.25rem;



}

.topmenu {
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
  background: #578CA9;
  color: white;
  font-family: 'Galdeano';
  font-size: 1rem;
  line-height: 2.5rem;
  position: fixed;
  top: 10.625rem;
  width: 100%;
  z-index: 2;
  min-width: 400px;




}



.current {
  background-color: #F5F5F5;
  border: 0.1rem inset black;
  border-radius: 0.5rem;
  color: black;

}

#lthouse {
  width: 7.5rem;
  height: 9.375rem;
  float: left;
  display: inline;
  padding: 1rem;
}

header{
  background: linear-gradient(to bottom, #BCD1DC 2%, #578CA9 75%);
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  height: 11rem;
  min-width: 400px;


}

.slogan {
  font-family: 'Galdeano';
  font-weight: 200;
  font-size: 2rem;
  text-align: center;
  height: 2.5rem;
  clear: both;
  margin-top: 1.5rem;




}



main {
  position: relative;
  top: 13.5rem;
  overflow-y: scroll;
  margin-bottom: 3.75rem;



}



#footer {
  position: fixed;
  bottom: 0;
  background-color: #457087;
  color: white;
  width: 100%;

}

small {
  padding: 1.25rem;

}

#home{
  z-index: 0;
  width: 40%;
  margin-left: auto;
  margin-right: auto;


}

#about{

  z-index: 0;
  width: 40%;
  margin-left: auto;
  margin-right: auto;

}

#worship {

  z-index: 0;
  width: 40%;
  margin-left: auto;
  margin-right: auto;

}

#events {

  z-index: 0;
  width: 40%;
  margin-left: auto;
  margin-right: auto;

}

#contact {

  z-index: 0;
  width: 32%;
  margin-left: auto;
  margin-right: auto;

}

.map {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.glink {
  color: blue;
  padding:0;
  text-decoration: underline;


}

.sub {
  padding: 1rem 0;
  text-align: center;
  font-family: 'Dancing Script';
  font-size: 3rem;
}

.content {
  padding: 1rem 0;
}

p {
  padding: 10px;
}
